<div class="container">
	<div class="panel">
		<div class="panel-header bg-lightBlue fg-white">
			リクエスト検索
		</div>
		<div class="panel-content">
			<form action="/request">
				<fieldset>
					<div class="clearfix">
						<label>状態</label>
						<div class="input-control radio inline-block" data-role="input-control">
							<label class="inline-block">
								<input type="radio" name="r1" value="0"  />
								<span class="check"></span>
									フィードバック無し
							</label>
							<label class="inline-block">
								<input type="radio" name="r1" value="1" />
								<span class="check"></span>
									フィードバック有り
							</label>
						</div>
					</div>
					<div class="input-control checkbox" data-role="input-control">
						<label class="inline-block">
							<input type="checkbox" name="grade" value="1" <% if(gradecheck.indexOf('1') != -1 ){%>checked<%}%> />
							<span class="check"></span>
								<i class="icon-thumbs-up"></i>
								accept
						</label>
						<label class="inline-block">
							<input type="checkbox" name="grade" value="2" <% if(gradecheck.indexOf('2') != -1 ){%>checked<%}%> />
							<span class="check"></span>
								<i class="icon-thumbs-down"></i>
								reject
						</label>
						<label class="inline-block">
							<input type="checkbox" name="grade" value="3" <% if(gradecheck.indexOf('3') != -1 ){%>checked<%}%> />
							<span class="check"></span>
								<i class="icon-heart"></i>
								pending
						</label>
					</div>
					<div>
						<input type="submit" value="リクエスト検索" class="large">
						<button type="button" class="large" id="reset">リセット</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<table class="table striped bordered hovered">
		<thead>
			<tr>
				<th class="text-left">名前</th>
				<th class="text-left">日付</th>
				<th class="text-left">内容</th>
				<th class="text-left">フィードバック</th>
				<th class="text-left">状態</th>
				<th class="text-left">いいね</th>
				<th class="text-left">その他</th>
			</tr>
		</thead>
		<% for(var i = 0; i < requests.length; i++){%>
			<tbody>
				<tr class="">
					<td><%= requests[i].user_name %></td>
					<td><%= requests[i].createdAt %></td>
					<td><%= requests[i].request %></td>
					<td><% if(requests[i].responce != undefined){%>
							<%= requests[i].responce %>
							<%}%></td>
					<td><%if (requests[i].review == 1){ %>
								accept
							<%}%>
							<%if (requests[i].review == 2){ %>
								reject
							<%}%>
							<%if (requests[i].review == 3){ %>
								pending
							<%}%>
							<%if (requests[i].review == 0){ %>
								未評価
							<%}%>
					</td>
					<td><%= requests[i].favUser.length %></td>
					<td><a href="/request/<%= requests[i].id %>"><button class="button">詳細</button></a>
							<button class="button danger" onclick="destroy(<%= requests[i].id %>);">削除</button></td>
				</tr>	
			</tbody>
		<%}%>
	</table>
</div>

<script>
$(document).ready(function(){
    $("#reset").click(function(){
        $('input[type="radio"], input[type="checkbox"], select').removeAttr('checked').removeAttr('selected');
    });
});

  var destroy=function(id){
      $.Dialog({
          shadow: true,
          overlay: false,
          icon: '<span class="icon-rocket"></span>',
          title: '投稿の削除',
          width: 350,
          padding: 10,
          content: '<p>投稿を削除します。よろしいですか?</p><a href="/request/destroy/'+id+'"><button class="large info">OK</button></a><button class="large" onclick="$.Dialog.close()">キャンセル</button>',
      });
  }
</script>