<body class="metro">
	<div class="container">
		<h1>Feedback</h1>
		<!--個々のリクエストのフィードバック送信　ほぼOK-->
		<h2>リクエストのフィードバック</h2>
			<table class="table striped bordered hovered">
				<tr><td>名前</td><td><%= user.name %></td></tr>
				<tr><td>日付</td><td><%= request.createdAt %></td></tr>
				<tr><td>内容</td><td><%= request.request %></td></tr>
				<tr><td>状態</td><td><%if (request.review == 1){ %>
																accept
															<%}%>
															<%if (request.review == 2){ %>
																reject
															<%}%>
															<%if (request.review == 3){ %>
																pending
															<%}%>
															<%if (request.review == 0){ %>
																未評価
															<%}%></td></tr>
				<tr><td>いいね</td><td>3</td></tr>
			</table>

			<form action = "/request/<%= request.id %>/feedsubmit">
				<fieldset>
					<legend>フィードバックフォーム</legend>
						<div class="input-control text" data-role="input-control">
							<input type="text"  name = "feedback" placeholder="ここにフィードバックを記述してください" <%if(request.responce !== ""){ %>value= "<%= request.responce %>"	<%}%>>
						</div>
				
					<div class="input-control radio inline-block" data-role="input-control">
										
							<label class="inline-block">
								<input type="radio" name="r1" value = "1" <%if (request.review == 0|| 1){%>checked<%}%>/>
								<span class="check"></span>
									<i class="icon-thumbs-up"></i>
									accept
							</label>
							<label class="inline-block">
								<input type="radio" name="r1" value = "2" <%if (request.review == 2){%>checked<%}%>/>
								<span class="check"></span>
									<i class="icon-thumbs-down"></i>
									reject
							</label>
							<label class="inline-block">
								<input type="radio" name="r1" value = "3" <%if (request.review == 3){%>checked<%}%>/>
								<span class="check"></span>
									<i class="icon-heart"></i>
									pending
							</label>
					</div>
			<div style="margin-top: 20px; margin-left: 20px">
				<input type ="submit" value="フィードバック" class="large info">
				<a href="list.html"><button class="button large">キャンセル</button></a>
			</div>

				</fieldset>
			</form>
		</div>
	</body>
