<body class="metro">

<!--ここから本文 -->
<!--リクエスト送信　ほぼOK -->
	<div class="container">
		<form action="/request/reqsubmit" method="post"onsubmit="return confirm();" id="request_check">
			<fieldset>
				<div class="panel">
					<div class="panel-header bg-lightBlue fg-white">
						リクエストフォーム
					</div>
					<div class="panel-content">
						<div class="input-control text" data-role="input-control">
							<input name ="request" type="text" placeholder="リクエストはここに">
						</div>
						<input type="submit" value="送信" class="large">
					</div>
				</div>
			</fieldset>
		</form>

<!-- リクエスト表示および　リクエスト検索 ほぼok -->
		<form = action="/request/user_request">
			<fieldset>
				<div class="panel">
					<div class="panel-header bg-lightBlue fg-white">
						リクエスト一覧
					</div>
					<div class="panel-content">
						<div class="input-control checkbox" data-role="input-control">
							<label class="inline-block">
								<input type="checkbox" name = "r1" value ="1" <% if(requests.r1checker == 1 ){%>checked<%}%> />
           			<span class="check"></span>
								自分のリクエストのみ表示する
							</label>
						</div>
						<div class="input-control checkbox" data-role="input-control">
							<label class="inline-block">
								<input type="checkbox" name = "r2" value="1"  <% if(requests.r2checker == 1 ){%>checked<%}%> />
        	   		<span class="check"></span>
								フィードバックがあるもののみ表示する
							</label>
						</div>
						<input type="submit" value="検索" class="large info">

						<% for(var i = 0; i < requests.length; i++){%>

<!--ユーザによって色を変える　別ユーザーのとき灰色 未完成　-->

							<div class="balloon">
								<div class="padding20">
									<%= requests[i].createdAt %>
									<p><%= requests[i].request %></p>

	<!--ボタン直す いいねをあとで作る　未完成 -->
									<div class="toolbar">
										<button><i class="icon-star-3">いいね</i></button>
									</div>
								</div>
							</div>


<!--reviewについて... 1=accept,2=reject,3=pending,0=初期状態 ほぼok -->
							<%if (requests[i].review == 1){ %>
								<div class="balloon bottom bg-cyan">
									<div class="padding20 fg-white">
										<%= requests[i].updatedAt %>
										<p class ="fg-white"><%= requests[i].responce %></p>
									</div>
								</div>
							<%}%>
							<%if (requests[i].review == 2){ %>
								<div class="balloon bottom bg-red">
									<div class="padding20 fg-white">
										<%= requests[i].updatedAt %>
										<p class ="fg-white"><%= requests[i].responce %></p>
									</div>
								</div>
							<%}%>
							<%if (requests[i].review == 3){ %>
								<div class="balloon bottom">
									<div class="padding20">
										<%= requests[i].updatedAt %><br>
										<p class ="fg-white"><%= requests[i].responce %></p>
									</div>
								</div>
							<%}%>
						<%}%>
					</div>
				</div>
			</fieldset>
		</form>
		</div>
	</body>

<script>
  var isConfirmDisplayed=false;
  var confirm=function(){
    var request="<dt>リクエスト内容</dt><dd>"+$('#request_check input[name="request"]').val()+"</dd>";
    if(!isConfirmDisplayed){
      $.Dialog({
          shadow: true,
          overlay: false,
          icon: '<span class="icon-rocket"></span>',
          title: 'リクエストの投稿確認',
          width: 500,
          padding: 10,
          content: '<p>以下の内容で投稿します。よろしいですか?</p><dl>'+request+'</dl><button class="large info" onclick="$(\'#request_check\').submit();">OK</button><button class="large" onclick="$.Dialog.close()">キャンセル</button>',
          onShow:function(){isConfirmDisplayed=true;},
      });
      $.Dialog.close=(function(){
        var context=$.Dialog;
        var origin=$.Dialog.close;
        return (function(){isConfirmDisplayed=false;origin.call(context);});
      })();
      return false;
    }
  }
</script>
