		<div class="container">
			<h1>My Page</h1>
			<table class="table striped bordered hovered">
				<tr class="text-left"><th>ユーザーID</th><td><%= user.user_id %></td>
				<tr class="text-left"><th>名前</th><td><%= user.name %></td>
				<tr class="text-left"><th>学年</th><td>
					<% switch(user.grade){
							case 1: %>
								B4<% break; 
							case 2: %>
								M1<% break;
							case 3: %>
								M2<% break;
							case 4: %>
								その他
					<% } %>
				</td>
				<tr class="text-left"><th>残高</th><td><%= user.balance%></td>
				<tr class="text-left"><th>ツケの上限</th><td><%= user.limit %></td>
			</table>

<% if(log.length){ %>
      <div id="log" style="height: 300px; width: 600px;"></div>
      <script src="/js/jqplot/jquery.jqplot.min.js"></script>
      <script src="/js/jqplot/jqplot.dateAxisRenderer.min.js"></script>
      <script src="/js/jqplot/jqplot.cursor.min.js"></script>
      <script>
jQuery( function() {
    jQuery . jqplot(
        'log',
        [
            [ <% for(var i=0;i<log.length;i++){ %>['<%= log[i].date %>',<%= log[i].balance %>], <% } %> ]
        ],
        {
            title:"残高推移",
            axes:{
                xaxis:{
                    renderer: jQuery . jqplot . DateAxisRenderer,
                    label:"月/日/年",
                    tickOptions:{
                        formatString: '%D'
                    },
                },
                yaxis:{
                  label:"残高"
                }
            },
            cursor:{
                show: true,
                zoom: true,
            }
        }
    );
} );
</script>
<% } %>
			<div style="margin-top: 20px">
				<a href="/user/mypage/edit"><button class="button large info">情報の変更</button></a>
			</div>

		</div>