		<div class="container">
			<h1>ユーザー情報</h1>
			<table class="table striped bordered hovered">
				<tr class="text-left"><th>ユーザーID</th><td><%= user.user_id %></td>
				<tr class="text-left"><th>名前</th><td><%= user.name %></td>
				<tr class="text-left"><th>学年</th><td>
					<% switch(user.grade){
							case 1: %>
								B4<% break; 
							case 2: %>
								M1<% break;
							case 3: %>
								M2<% break;
							case 4: %>
								その他
					<% } %>
				</td>
				<tr class="text-left"><th>残高</th><td><%= user.balance%></td>
				<tr class="text-left"><th>ツケの上限</th><td><%= user.limit %></td>
			</table>

			<div id="stock1" style="height: 300px; width: 500px;"></div>
			<script>
jQuery( function() {
    jQuery . jqplot(
        'stock1',
        [
            [ [ '2012-01-01  0:00AM', 200 ], [ '2012-01-02  0:00AM', 737 ], [ '2012-01-03  0:00AM', 238 ], [ '2012-01-04  0:00AM', 217 ], [ '2012-01-05  0:00AM', 814 ], [ '2012-01-06  0:00AM', 764 ], [ '2012-01-07  0:00AM', 613 ], [ '2012-01-08  0:00AM', 996 ], [ '2012-01-09  0:00AM', 63 ], [ '2012-01-10  0:00AM', 698 ], [ '2012-01-11  0:00AM', 705 ], [ '2012-01-12  0:00AM', 347 ], [ '2012-01-13  0:00AM', 847 ], [ '2012-01-14  0:00AM', 629 ], [ '2012-01-15  0:00AM', 624 ], [ '2012-01-16  0:00AM', 509 ], [ '2012-01-17  0:00AM', 421 ], [ '2012-01-18  0:00AM', 579 ], [ '2012-01-19  0:00AM', 111 ], [ '2012-01-20  0:00AM', 421 ], [ '2012-01-21  0:00AM', 971 ], [ '2012-01-22  0:00AM', 369 ], [ '2012-01-23  0:00AM', 402 ], [ '2012-01-24  0:00AM', 551 ], [ '2012-01-25  0:00AM', 867 ], [ '2012-01-26  0:00AM', 868 ], [ '2012-01-27  0:00AM', 946 ], [ '2012-01-28  0:00AM', 109 ], [ '2012-01-29  0:00AM', 744 ], [ '2012-01-30  0:00AM', 664 ], [ '2012-01-31  0:00AM', 909 ], [ '2012-02-01  0:00AM', 52 ], [ '2012-02-02  0:00AM', 376 ], [ '2012-02-03  0:00AM', 355 ], [ '2012-02-04  0:00AM', 321 ], [ '2012-02-05  0:00AM', 972 ], [ '2012-02-06  0:00AM', 346 ], [ '2012-02-07  0:00AM', 767 ], [ '2012-02-08  0:00AM', 19 ], [ '2012-02-09  0:00AM', 272 ], [ '2012-02-10  0:00AM', 335 ], [ '2012-02-11  0:00AM', 775 ], [ '2012-02-12  0:00AM', 698 ], [ '2012-02-13  0:00AM', 49 ], [ '2012-02-14  0:00AM', 220 ], [ '2012-02-15  0:00AM', 75 ], [ '2012-02-16  0:00AM', 204 ], [ '2012-02-17  0:00AM', 861 ], [ '2012-02-18  0:00AM', 135 ], [ '2012-02-19  0:00AM', 906 ], [ '2012-02-20  0:00AM', 968 ], [ '2012-02-21  0:00AM', 95 ], [ '2012-02-22  0:00AM', 359 ], [ '2012-02-23  0:00AM', 937 ], [ '2012-02-24  0:00AM', 469 ], [ '2012-02-25  0:00AM', 412 ], [ '2012-02-26  0:00AM', 480 ], [ '2012-02-27  0:00AM', 428 ], [ '2012-02-28  0:00AM', 965 ], [ '2012-02-29  0:00AM', 36 ], [ '2012-03-01  0:00AM', 831 ], [ '2012-03-02  0:00AM', 521 ], [ '2012-03-03  0:00AM', 527 ], [ '2012-03-04  0:00AM', 389 ], [ '2012-03-05  0:00AM', 591 ], [ '2012-03-06  0:00AM', 996 ], [ '2012-03-07  0:00AM', 778 ], [ '2012-03-08  0:00AM', 854 ], [ '2012-03-09  0:00AM', 507 ], [ '2012-03-10  0:00AM', 694 ], [ '2012-03-11  0:00AM', 792 ], [ '2012-03-12  0:00AM', 982 ], [ '2012-03-13  0:00AM', 56 ], [ '2012-03-14  0:00AM', 699 ], [ '2012-03-15  0:00AM', 787 ], [ '2012-03-16  0:00AM', 202 ], [ '2012-03-17  0:00AM', 841 ], [ '2012-03-18  0:00AM', 700 ], [ '2012-03-19  0:00AM', 805 ], [ '2012-03-20  0:00AM', 774 ], [ '2012-03-21  0:00AM', 825 ], [ '2012-03-22  0:00AM', 250 ], [ '2012-03-23  0:00AM', 537 ], [ '2012-03-24  0:00AM', 980 ], [ '2012-03-25  0:00AM', 581 ], [ '2012-03-26  0:00AM', 702 ], [ '2012-03-27  0:00AM', 614 ], [ '2012-03-28  0:00AM', 371 ], [ '2012-03-29  0:00AM', 207 ], [ '2012-03-30  0:00AM', 105 ], [ '2012-03-31  0:00AM', 380 ] ]
        ],
        {
            title:"残高推移",
            axes:{
                xaxis:{
                    renderer: jQuery . jqplot . DateAxisRenderer,
                    label:"月/日/年",
                    tickOptions:{
                        formatString: '%D'
                    },
                },
                yaxis:{
                  label:"残高"
                }
            },
            cursor:{
                show: true,
                zoom: true,
                constrainZoomTo: 'x',
            }
        }
    );
} );
			</script>
			<div style="margin-top: 20px">
				<a href="/user/<%= user.user_id%>/edit"><button class="button large info">情報の変更</button></a>
			</div>

		</div>