<div class="container">
<h1>Stock List</h1>
<div class="grid">
<div class="row">
<a href="search_loss.html" class="place-right"><button class="danger span 2">在庫数の確認</button></a>
<a href="create/"><button class="default span 2">新規登録</button></a>
</div>
</div>

<div class="input-control select span4">
  <select>
    <option value="0">--カテゴリ--</option>
    <option value="1">スナック菓子</option>
    <option value="2">アイス</option>
    <option value="3">ジュース</option>
    <option value="4">その他</option>
  </select>
</div>

<form action="/stock/add">
<table class="table striped bordered hovered">
<thead>
  <tr>
    <th>写真</th>
    <th>商品名</th>
    <th>カテゴリ</th>
    <th>週間売上</th>
    <th>値段</th>
    <th>在庫数</th>
    <th>入荷数</th>
  </tr>
</thead>
<tbody>
  <% for(var i=0;i<stocks.length;i++){ %>
  <tr>
    <td><img src="<%= stocks[i].photo %>" alt="<%= stocks[i].name %>"></td>
    <td><a href="/stock/<%= stocks[i].id %>"><%= stocks[i].name %></a></td>
    <td><%= stocks[i].category %></td>
    <td> 個</td>
    <td><%= stocks[i].price %></td>
    <td><%= stocks[i].number %>個</td>
    <td><input type="text" name="id<%= stocks[i].id %>" class="size1" value="0">個</td>
  </tr>
  <% } %>
</tbody>
</table>
<input type="submit" value="入荷" class="info large">
</form>
</div>  
