<div class="container">
<h1>Stock List</h1>

<div class="input-control select span4">
  <select class="category" data-col="カテゴリ">
    <option value="">--カテゴリ--</option>
    <% for(var i=0;i<category.length;i++){ %>
    <option value="<%= category[i].name %>"><%= category[i].name %></option>
    <% } %>
  </select>
</div>

<form action="/stock/purchase" id="purchase_stock">
<table class="table striped bordered hovered" id="main-table">
<thead>
  <tr>
    <th>写真</th>
    <th>商品名</th>
    <th>カテゴリ</th>
    <th>値段</th>
    <th>在庫数</th>
    <th>購入数</th>
  </tr>
</thead>
<tbody>
  <% for(var i=0;i<stocks.length;i++){ %>
  <tr>
    <td class="text-center stock<%= stocks[i].id %>"><img src="/photos/<%= stocks[i].id %>.png" alt="<%= stocks[i].name %>"></td>
    <td class="stock<%= stocks[i].id %>"><a href="#"><%= stocks[i].name %></a></td>
    <td class="stock<%= stocks[i].id %>"><%= stocks[i].category %></td>
    <td class="stock<%= stocks[i].id %>"><%= stocks[i].price %>円</td>
    <td class="stock<%= stocks[i].id %>"><%= stocks[i].number %>個</td>
    <td><input type="text" min="0" max="<%= stocks[i].number %>" name="id<%= stocks[i].id %>" class="size1 validate[optional,custom[integer],min[0],max[<%= stocks[i].number %>]]" value="<%= params['id'+stocks[i].id] || 0 %>" id="id<%= stocks[i].id %>">個</td>
  </tr>
  <% } %>
</tbody>
</table>
<input type="submit" value="購入" class="info large">
</form>
</div>

<script src="/js/table/multifilter.min.js"></script>
<script type="text/javascript" src="/js/table/jquery.tablesorter.min.js"></script>
<script>
$(document).ready(function()
    {
        $("#main-table").tablesorter();
    }
);

jQuery(document).ready(function(){
  jQuery("#purchase_stock").validationEngine();
  $('.category').multifilter({
    'target':$('#main-table')
  });

<% for(var i=0;i<stocks.length;i++){ %>
  $(".stock<%= stocks[i].id %>").on('click', function(){
    $.Dialog({
      title:"<%= stocks[i].name %>",
      overlay: true,
      shadow: true,
      flat: true,
      width:"300px",
      height:"500px",
      content:'<img src="/photos/<%= stocks[i].id %>.png" alt="<%= stocks[i].name %>"><dl><dt>値段</dt><dd><%= stocks[i].price %>円</dd><dt>購入数</dt><dd><form><input id="stock<%= stocks[i].id %>_buy" type="number" min="0" step="1" class="size1" value="'+$("#id<%= stocks[i].id %>").val()+'" disabled="disabled">個</form><div class="button-set"><button type="button" id="up<%= stocks[i].id %>" class="large size2" value="+"><i class=" icon-plus-2"></i></button><button type="button" class="large size2" id="down<%= stocks[i].id %>"><i class=" icon-minus-2"></i></button></div></dd></dl>',
    });
    $("#up<%= stocks[i].id %>").click(function(){
      if($("#stock<%= stocks[i].id %>_buy").val()<<%= stocks[i].number %>)$("#stock<%= stocks[i].id %>_buy").val(parseInt($("#stock<%= stocks[i].id %>_buy").val())+1);
      $("#id<%= stocks[i].id %>").val($("#stock<%= stocks[i].id %>_buy").val());
    });
    $("#down<%= stocks[i].id %>").click(function(){
      if($("#stock<%= stocks[i].id %>_buy").val()>0)$("#stock<%= stocks[i].id %>_buy").val(parseInt($("#stock<%= stocks[i].id %>_buy").val())-1);
      $("#id<%= stocks[i].id %>").val($("#stock<%= stocks[i].id %>_buy").val());
    });
  });
<% } %>
});

</script>