<div class="container">
<h1>Stock Check</h1>
<div class="grid">
<div class="row">
<div class="button-set">
	<a href="/stock/"><button class="success span 2">商品の検索</button></a>
</div>
</div>
</div>

<form action="/stock/loss/reason/" id="loss_stock">
<table class="table striped bordered hovered" id="loss_table">
<thead>
  <tr>
    <th>写真</th>
    <th>商品名<i class="icon-menu"></i></th>
    <th>カテゴリ<i class="icon-menu"></i></th>
    <th>週間売上<i class="icon-menu"></i></th>
    <th>値段<i class="icon-menu"></i></th>
    <th>在庫数<i class="icon-menu"></i></th>
    <th>現在の在庫数</th>
  </tr>
</thead>
<tbody>
  <% for(var i=0;i<stocks.length;i++){ %>
  <tr>
    <td class="text-center"><img src="/photos/<%= stocks[i].id %>.png" alt="<%= stocks[i].name %>"></td>
    <td><%= stocks[i].name %></a></td>
    <td><%= stocks[i].category %></td>
    <td><%= stocks[i].proceeds %> 個</td>
    <td><%= stocks[i].price %>円</td>
    <td><%= stocks[i].number %>個</td>
    <td><input type="text" name="changenumber" class="size1 validate[optional,custom[integer],min[0]]" value=""><input type="text" name="id" value="<%= stocks[i].id %>" hidden>個</td>
  </tr>
  <% } %>
</tbody>
</table>
<input type="submit" value="登録" class="large info">
<input type="button" onClick="javascript:location.href='/stock/';" value="キャンセル" class="large">
</form>
</div>
<script type="text/javascript" src="/js/table/jquery.tablesorter.min.js"></script>
<script>
$(document).ready(function()
    {
        $("#loss_table").tablesorter();
    }
);

jQuery(document).ready(function(){
   jQuery("#loss_stock").validationEngine();
});
</script>
