<div class="container">

<h1>Purchase Confirm</h1>
<form action="/stock/purchase/" method="post">
<div>

</div>
<table class="table striped bordered hovered">
<thead>
  <tr>
    <th>写真</th>
    <th>商品名</th>
    <th>カテゴリ</th>
    <th>値段</th>
    <th>在庫</th>
    <th>購入数</th>
  </tr>
</thead>
<tbody>
<% for(var i=0;i<stocks.length;i++){ %>
  <tr id="id<%= stocks[i].id %>">
    <th class="text-center"><img src="/photos/<%= stocks[i].id %>.png" alt="写真"></th>
    <th><%= stocks[i].name %></th>
    <th><%= stocks[i].category %></th>
    <th><%= stocks[i].price %>円</th>
    <th><%= stocks[i].number %>個</th>
    <th><%= stocks[i].param %><input type="hidden" name="id<%= stocks[i].id %>" value="<%= stocks[i].param %>">個</th>
  </tr>
<% } %>
</tbody>
</table>
<% if(Object.keys(req.session.error).length === 1){ %>
<p>上記の通り購入します、よろしいですか？</p>
<input type="submit" value="購入" class="large info">
<% } %>

<button type="button" onclick="location.href='/stock/list<%= query %>'" class="large">キャンセル</button>
</form>
</div>
