<div class="container">
		<h1>変更の確認</h1>
<form action="/stock/loss/reason/" method="post">
<table class="table striped bordered hovered">
<thead>
  <tr>
    <th>写真</th>
    <th>商品名</th>
    <th>カテゴリ</th>
    <th>週間売上</th>
    <th>値段</th>
    <th>在庫数</th>
    <th>変更後の在庫数</th>
    <th>変更理由</th>
    <th>備考</th>
  </tr>
</thead>
<tbody>
  <% for(var i=0;i<stocks.length;i++){ %>
  <% if(changenumber[i]!= ""){ %>
  <tr>
    <% var s = parseInt(id[i])-1; %>
    <td class="text-center"><img src="/photos/<%= stocks[s].id %>.png" alt="<%= stocks[s].name %>"></td>
    <td><%= stocks[s].name %></a></td>
    <td><%= stocks[s].category %></td>
    <td> 個</td>
    <td><%= stocks[s].price %>円</td>
    <td><%= stocks[s].number %>個</td>
    <td><%= changenumber[i] %>個</td>
    <input type="text" name="id" value="<%= stocks[s].id %>" hidden>
    <input type="text" name="changenumber" value="<%= changenumber[i] %>" hidden>
    <td>
      <select name="reason">
      <option value="loss"<% if(changenumber[i] < stocks[s].number){%>selected<%}%>>紛失</option>
      <option value="excess"<% if(changenumber[i] > stocks[s].number){%>selected<%}%>>過多</option>
      <option value="other"<% if(changenumber[i] == stocks[s].number){%>selected<%}%>>その他</option>
      </select>
    </td>
    <td>
      <input type="text" name="notes">
    </td>
  </tr>
  <% } %>
  <% } %>
</tbody>
</table>
<input type="submit" value="登録" class="large info">
<button type="button" onclick="location.href='/stock/'" class="large">キャンセル</button>
</form>
</div>
