<div class="container">
		<h1>変更の確認</h1>
<form action="/stock/loss/">
<table class="table striped bordered hovered">
<thead>
  <tr>
    <th>写真</th>
    <th>商品名</th>
    <th>カテゴリ</th>
    <th>週間売上</th>
    <th>値段</th>
    <th>在庫数</th>
    <th>変更後の在庫数</th>
    <th>変更理由</th>
    <th>備考</th>
  </tr>
</thead>
<tbody>
  <% for(var i=0;i<stocks.length;i++){ %>
  <tr>
    <td><img src="<%= stocks[i].photo %>" alt="<%= stocks[i].name %>"></td>
    <td><%= stocks[i].name %></a></td>
    <td><%= stocks[i].category %></td>
    <td> 個</td>
    <td><%= stocks[i].price %>円</td>
    <td><%= stocks[i].number %>個</td>
    <td><%= stocks[i].changenumber %>個</td>
    <td>
      <select name="reason">
      <option value="loss">紛失</option>
      <option value="excess">過多</option>
      <option value="other">その他</option>
      </select>
    </td>
    <td>
      <input type="text" name="notes">
    </td>
  </tr>
  <% } %>
</tbody>
</table>
<input type="submit" value="登録" class="large info">
<input type="button" onClick="javascript:location.href='/stock/';" value="キャンセル" class="large">
</form>
</div>