<div class="container">
<h1><%= stock.name %>　詳細情報</h1>
	<p>
		<img src="/photos/<%= stock.id %>.png" class="shadow" alt="<%= stock.name %>">
	</p>

			<table class="table striped bordered hovered">
				<tr class="text-left"><th>商品名</th><td><%= stock.name %></td>
				<tr class="text-left"><th>カテゴリ</th><td><%= stock.category %></td>
				<tr class="text-left"><th>在庫数</th><td><%= stock.number %></td>
				<tr class="text-left"><th>仕入れ値</th><td><%= stock.buy_price %></td>
				<tr class="text-left"><th>販売価格</th><td><%= stock.price %></td>
			</table>


<br>
<% if(log.length){ %>
<div id="log" style="height: 300px; width: 500px;"></div>

      <div id="log" style="height: 300px; width: 600px;"></div>
      <script src="/js/jqplot/jquery.jqplot.min.js"></script>
      <script src="/js/jqplot/jqplot.dateAxisRenderer.min.js"></script>
      <script src="/js/jqplot/jqplot.cursor.min.js"></script>
      <script>
jQuery( function() {
    jQuery . jqplot(
        'log',
        [
            [ <% for(var i=0;i<log.length;i++){ %>['<%= log[i].date %>',<%= log[i].number %>], <% } %> ]
        ],
        {
            title:"売り上げ推移",
            axes:{
                xaxis:{
                    renderer: jQuery . jqplot . DateAxisRenderer,
                    label:"月/日/年",
                    tickOptions:{
                        formatString: '%D'
                    },
                },
                yaxis:{
                  label:"売り上げ個数"
                }
            },
            cursor:{
                show: true,
                zoom: true,
            }
        }
    );
} );
</script>
<% } %>
<p><a href="/stock/<%= stock.id %>/edit/"><button class="large info">商品情報編集</button></a></p>
</div>
